@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

#app {
	font-family: 'Roboto Mono', monospace;
	height: 100vh;
	background: rgba(64, 64, 64, 1);
	position: relative;
}

.toolbar {
	background: rgba(64, 64, 64, 1);
	display: flex;
	justify-content: space-between;
	color: #fbfade;
	border: 1px solid #fbfade;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9;
}

.toolbar .left .logo,
.toolbar .left .site-title {
	display: inline-block;
}

.toolbar nav ul li {
	display: inline-block;
}

.desktop {
	border: 1px solid #fbfade;
	height: calc(100% - 73px);
	position: relative;
	width: 2500px;
	overflow: scroll;
	margin-top: 73px;
	background: rgba(64, 64, 64, 1);
}

.window {
	width: 300px;
	height: 400px;
	border: 1px solid #000;
	position: absolute;
	top: 0;
	left: 0;
  	touch-action: none;
	user-select: none;
	background: #fff;
	z-index: 10;
}

.window.active-window {
	z-index: 11;
}

.window-toolbar {
	display: flex;
	background: #fbfade;
	justify-content: space-between;
	border-bottom: 1px solid #000;
}

.window-toolbar .window-title {

}

.window-toolbar button {
	outline: none;
	background: transparent;
	color: rgba(64, 64, 64, 1);
	border-left: 1px solid #000;
	border-radius: 0;
}

.window .window-content {
	background: #fff;
}
